<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/masterlayout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="Mekonnen">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
    <title>home page</title>
</head>

<body>
<th:block layout:fragment="content">
    <h3 class= ".validation-message" style="text-align: center"> Add And List Rooms to Hotel Reservation System(HRS) </h3>
    <br/> <br/>
    <div><span style="float: none ;border-radius: 15px" >
                <a class="btn btn-outline-primary btn-lg" href="/addRoom">Add Room</a>
            </span>
  &nbsp; &nbsp; &nbsp;
        <span style="alignment: center ;border-radius: 15px" >
                <a class="btn btn-outline-primary btn-lg" href="/reserved">Reservation List</a>
            </span>
        &nbsp; &nbsp; &nbsp;
    <span style="float:right;border-radius: 15px" >
                <a class="btn btn-outline-primary btn-lg" href="/rooms">List Of Room</a>
            </span>
</div>

    <br/> <br/>
    <div >
        <img class="img-fluid " src="images/hotel.jpg" alt="hotel" height="300px" width="1110px"></a>

    </div>  <br/><br/>


<div>
    <div >
        Manager can add The rooms and can enter the room size to the approprate size
        -------------------------------------------------------------------------------
        small == 1        medium == 2    large == 3
        To reserve and book our <a href="//homes">Booking</a>  and <a href="/">Resrvetion</a>  , please first make sure to read the
        instructions and key points provided below. And then click the
        appropriate menu item, located on the menu-bar above.<br/><br/>

      <!--  the Hotel Reservation System. The proposed system is designed to make reservations of hotel rooms online.
        It is designed to be user-friendly that provides flexible accommodation of functions.
        The main objective of the system is too fulfilling the need of having the system that
        accommodates hotel reservation, to provide fast and accurate services
       --> <br/>
    </div>

</div>

</th:block>

<div class="container">

    <hr/>

</div>





<th:block layout:fragment="footer"></th:block>

</body>
</html>