<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/masterlayout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="moke">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
    <title>home page</title>
</head>

<body>
<th:block layout:fragment="content">

    <h1 class= ".validation-message" > About Us</h1>
    <br/> <br/>

    <h4>Our Profile </h4>

    <div>

        <img class="img-fluid " src="images/moke.jpg" alt="moke" height="30px" width="150px"></a>

            </span>
        &nbsp; &nbsp;  &nbsp;

    </div>
    <br><br>
    <div >
        <img class="img-fluid " src="images/hotel.jpg" alt="hotel" height="300px" width="1110px"></a>

    </div>
    <br><br>
    <
    <div>
        <div >
            To reserve and book our <a href="/addGuest">Booking</a>  and <a href="/">Resrvetion</a>  , please first make sure to read the
            instructions and key points provided below. And then click the
            appropriate menu item, located on the menu-bar above.<br/><br/>

            Hotel reservation system is one of the significant part of our day to day life that relates to get a hotel service.
            So it should ensures proper work of the hotel that makes efficient and provides the option to book a room online at anytime from anywhere.
            It holds information for the workers and administration about the rooms and the hotels overall.    <br/>
        </div>

    </div>

</th:block>

<div class="container">

    <hr/>

</div>





<th:block layout:fragment="footer"></th:block>

</body>
</html>